<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<div class="jumbotron">
    <h1 class="display-4">Hello user please login</h1>
    <p class="lead">If you can't walk, crawl.........</p>
    <hr class="my-4">
    <p class="lead2">Work is not a wolf, it cannot escape.</p>
    <form th:action="@{/login}" th:method="GET">
        <p class="lead">
            <button type="submit" class="btn btn-primary btn-lg">Login for you</button>
        </p>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    $(function (){
        $('.btn').fadeTo(3000, 0.0001).fadeTo(3000,1);
        $('.display-4').fadeTo(3000, 0.0001).fadeTo(3000,1);
        $('.lead').fadeTo(3000, 0.0001).fadeTo(3000,1);
        $('.lead2').fadeTo(3000, 0.0001).fadeTo(3000,1);
    });
</script>
</body>
</html>